.m01 {
	height: 100vh;
	min-height: 800px;

	@media (max-width: $desk-start) {
		height: auto;
		min-height: auto;
	}

	&__grid {
		display: flex;
		flex-wrap: wrap;
		height: 100%;

		&__item {
			width: 50%;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			background-color: $white;

			@media (max-width: $desk-start) {
				width: 100%;
			}


			&:first-of-type {
				background-color: $gray;
			}

			&:not(:first-of-type){
				.m01__box {
					@media (max-width: $desk-start) {
						padding-bottom: 35px;
					}
				}
			}

		}
	}

	&__title {
		font-size: 95px;
		font-weight: 700;
		margin: 0 0 46px;
		@media (max-width: $desk-start) {
			font-size: 75px;
		}

		@media (max-width: $lap-start) {
			font-size: 65px;
		}

		@media (max-width: $mobile-start) {
			font-size: 45px;
		}
	}

	&__subtitle {
		font-size: 20px;
		max-width: 351px;
		margin: 0 0 46px;
	}

	&__cta {
		color: $peach;
	}

	&__box {
		max-width: 454px;
		padding: 0 40px;
		position: relative;

		@media (max-width: $desk-start) {
			padding: 50px 30px;
			max-width: 100%;
			width: 100%;
		}
	}

	&__caption {
		max-width: 300px;
		margin: 0 0 -10px;
	}

	&__signature {
		font-family: 'Mr De Haviland', cursive;
		font-size: 40px;
		transform: rotate(347.18075626584243deg);
		text-align: right;
		margin: 0px;
		position: absolute;
    right: 40px;
	}

	&__img {
		width: 301px;
		height: 393px;
		overflow: hidden;
		position: relative;
		
		@media (max-width: $desk-start) {
			width: 100%;
			height: auto;
		}
		
		img {
			position: absolute;
			height: 100%;
			width: 100%;
			left: 0;
			top: 0;
			z-index: 0;
			object-fit: cover;
			object-position: center;	

			@media (max-width: $desk-start) {
				position: relative;
			}
		}
	}
}