.m03 {
	background-color: $gray;
	padding: 60px 0;
	

	&--white {
		background-color: $white;
	}

	&__title {
		text-align: center;
		margin: 0 0 50px;
		font-weight: 600;
	}

	&__grid {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -90px 0;

		@media (max-width: $desk-start) {
			margin: 0 -30px 0;
		}
	}

	&__quote {
		width: calc(33.3% - 180px);
		margin: 0 90px 90px;
		text-align: center;

		@media (max-width: $desk-start) {
			width: calc(50% - 60px);
			margin: 0 30px 30px
		}

		@media (max-width: $mobile-start) {
			width: 100%;
		}

		&__text {
			margin: 0;
		}

		&__name {
			color: $black;
			font-size: 18px;
			font-family: "noticia text", serif;
			font-weight: 600;
		}

		&__separator {
			width: 16px;
			border-top: 5px solid $black;
			margin: 35px auto 30px;

		}

	}

	&__btn {
		color: $peach;
		text-align: center;
		display: inline-block;
		margin: auto;
	}

	&__btn-box {
		text-align: center;
	}
}