.button {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  max-width: 100%;
  transition: all ease 0.3s;
	padding: 10px 31px;
	border-radius: 24px;
	font-size: 14px;
	line-height: normal;

	&:focus {
    outline: none;
	}

	&::after {
    content: "";
    position: absolute;
    width: calc(100% + 12px);
    height: calc(100% + 12px);
    left: -6px;
    top: -6px;
    border-radius: 100px;
	}

  // Hide empty buttons.
  &:not(input[type='submit']):empty {
    display: none;
  }

	&--white-outline {
		background-color: transparent;
		border: 1px solid $white;
		color: white;

		&:hover,
		&:focus,
		&:focus-within {
			background-color: $white;
			color: $sade--crail;
		}

		&:focus,
		&:focus-within {
			&::after {
				border: 2px dashed $white;
			}
		}
	}

	&--crail {
		background-color: $sade--crail;
		border: 1px solid $sade--crail;
		color: white;

		&:hover,
		&:focus,
		&:focus-within {
			background-color: darken($color: $sade--crail, $amount: 10);
			border-color: darken($color: $sade--crail, $amount: 10);
		}

		&:focus,
		&:focus-within {
			&::after {
				border: 2px dashed $sade--crail;
			}
		}
	}
}
