// Gray Scale
$white:  #fff;
$silver: #ddd;
$gray:   #E6E9E6;
$black:  #1A1A1A;
$peach:  #FF7C59;



//
// Project Variables
//
// Breakpoints
$mobile-start: 470px;
$lap-start:         669px;
$desk-start:        960px;

// Navigation Variables
$content-width: 1000px;
$breakpoint: 799px;
$nav-height: 70px;
$nav-background: #fff;
$nav-font-color: #1A1A1A;
$link-hover-color: #E6E9E6;