[id^='gform_wrapper_'] {
	margin-bottom: 60px;

	.gform_fields {
		padding: 0;
		list-style-type: none;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		max-width: 600px;
		margin: 0 auto 25px;
	
		.gfield {
			width: 100%;
			margin-bottom: 20px;
	
			&.gf_left_half,
			&.gf_right_half {
				width: calc(50% - 10px);
		
				@media (max-width: $lap-start) {
					width: 100%;
				}
			}
	
			&_label {
				display: none;
			}

			.ginput_recaptcha {
				display: flex;
				justify-content: center;
				margin: 26px 0 0;

				+.validation_message {
					text-align: center;
				}
			}
	
			&.gform_validation_container {
				display: none;
			}
	
			input,
			textarea {
				width: 100%;
				border: 0;
				border-bottom: 3px solid $black;
				padding: 7px 13px;

				&:focus {
					outline: 0;
				}
			}

			&_error {
				input,
				textarea {
					border-bottom: 3px solid red;
				}
			}

			textarea {
				margin-bottom: -7px;
			}
	
		}	
	}

	.validation_error {
		text-align: center;
		color: red;
		margin-bottom: 30px;
	}

	.gform_footer{
		display: flex;
		justify-content: center;
		align-items: center;

		input[type=submit]{
			padding: 13px 20px;
			border: 0;
			background-color: $black;
			color: $white;
	
			&:hover {
				background-color: #000000;
			}
		}
	}
}

.gform_confirmation_message{
	text-align: center;
	color: green;
	margin-bottom: 60px;
}
