.woocommerce {
	.product {
    margin: 50px 0 70%;
	}
	.woocommerce-ordering {
		@media (max-width: 500px) {
			width: 100% !important;
			text-align: center;
		}

		select {
			vertical-align: top;
			background-image: url(./assets/svg/icon-small-arrow.svg);
			background-position: top 60% right 0;
			padding-right: 12px;
			background-repeat: no-repeat;
		}
	}

	.woocommerce-result-count {
    @media (max-width: 500px) {
			width: 100% !important;
			text-align: center;
		}
	}

	&-products-header {
		+ .container {
			padding: 25px 0;
		}
	}

	ul.products {
		margin: 3.5em 0 1em;
		
		li.product {
			@media (max-width: 450px) {
				width: 100% !important;
			}
			.button {
    		display: none;
			}

			.woocommerce-loop-product__title {
				text-align: center;
			}

			.price {
				color: $sade--crail;
				text-align: center;
				font-weight: 600;
			}
		} 
	} 
} 

.woocommerce-tabs,
.related.products,
.added_to_cart {
	display: none !important;

}

.woocommerce-message {
	margin: 3rem 0 0;
	display: none;
}

.qib-button:not(#qib_id):not(#qib_id) {
	background-color: $sade--crail !important;
	border: 1px solid $sade--crail !important; 

	&:hover,
	&:focus,
	&:focus-within {
		background-color: darken($color: $sade--crail, $amount: 10) !important;
		border-color: darken($color: $sade--crail, $amount: 10) !important;
	}
}

.woocommerce-cart {
	.woocommerce {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-top: 60px;
	}

	.woocommerce-cart-form {
		width: calc(60% - 15px);

		@media (max-width: $desk-start) {
			width: 100%;
		}
	}

	.cart-collaterals {
		width: calc(40% - 15px);

		@media (max-width: $desk-start) {
			width: 100%;
		}
	}

	.cart-collaterals {
		.cart_totals {
			width: 100%;
			padding: 0 20px 70px;
		}
	} 
} 

.woocommerce-cart .cart-collaterals .cart_totals {
	h2 {
		display: none;
	}
}


.woocommerce-form-coupon-toggle {
	display: none;
}

.woocommerce-checkout {
	&.checkout {
		padding: 50px 0 70px;
	}
}