.gm03 {
	background-color: $sade--crail;

	p,
	li {
		font-size: 14px;
		line-height: 20px;
		font-weight: 400;
	}

	&__grid {
		padding: 49px 0 48px;
	}

	&__logo {
		margin: 0 auto 45px;
		display: block;
		font-weight: 400;
		text-align: center;
		color: $white;
		font-weight: 700;
    letter-spacing: -2px;
    text-transform: uppercase;
	}

	&__menu {
		ul {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			list-style-type: none;
			padding: 0;
			margin: 0;

			li {
				margin: 0 24px 10px;
				a {
					font-size: 14px;
					line-height: 20px;
					color: $white;
				}
			}
		}
	}

	&__address {
		font-size: 14px;
		line-height: 20px;
		text-align: center;
		color: $white;
		margin: 28px 0 10px;
	}

	&__tel {
		margin: 0 12px;
		color: $white;
	}

	&__email {
		margin: 0 12px;
		color: $white;
	}

	&__social {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 31px 0 0;

		&__link {
			width: 36px;
			height: 36px;
			border-radius: 50%;
			border: 1px solid $white;
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 0 8px;
			transition: all ease 0.3s;
			position: relative;

			svg {
				width: 18px;
				height: 18px;
				color: $white;
				transition: all ease 0.3s;
			}

			&::after {
				content: "";
				position: absolute;
				width: calc(100% + 12px);
				height: calc(100% + 12px);
				left: -6px;
				top: -6px;
				border-radius: 100px;
			}

			&:hover,
			&:focus,
			&:focus-within {
				background-color: $white;

				svg {
					color: $sade--crail;
				}
			}

			&:focus {
				outline: none;
			}

			&:focus,
			&:focus-within {
				&::after {
					border: 2px dashed $white;
				}
			}
		}
	}

	&__bottom {
		background-color: $white;
		padding: 24px 0;

		&__info {
			@media (max-width: $desk-start) {
				width: 100%;
				justify-content: center;
				margin-bottom: 10px;
			}

			p {
				color: $black;
				margin: 0 16px 0 0;

				@media (max-width: $desk-start) {
					margin-bottom: 10px;
				}
			}

			&__links {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				list-style-type: none;
				padding: 0;
				margin: 0;

				li {
					color: #000410;
					margin: 0 16px 0 0;

					&:last-child {
						margin: 0;
					}

					a {
						transition: all ease 0.3s;

						&:hover {
							color: $sade--crail;
							text-shadow: .6px 0 0 currentColor;
						}
					}
				}
			}
		}

		&__credits {
			color: $black;

			@media (max-width: $desk-start) {
				width: 100%;
				text-align: center;
			}

			&__link {
				color: $black;

				a {
					color: $sade--crail;
					transition: all ease 0.3s;

					&:hover {
						color: $sade--crail;
						text-shadow: .6px 0 0 currentColor;
					}
				}
			}
		}
	}
}
